html {
    margin: 5px;
    padding: 10px;
}

body {
    margin: 10%;
    padding: 5px;
    width: 80%;
    height: auto;
    align-content: center;
    justify-content: center;
}

#laptop {
    height: 45%;
    width: auto;
    align-
}