* {
    margin: 0;
}

html {
    background-color: #cad3f9;
}

body {
    background-color: #F2F2F0;
    /* text style */
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 200;
    /* box/layout */
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-right: 15%;
    margin-left: 15%;
    justify-content: center;
    align-self: center;
    /* border */
    border-style: solid;
    border-color: white;
    border-width: 3px;

}

#logo {
    display: block;
    width: 25%;
    justify-content: center;
    align-self: center;
    margin-bottom: 15%;
}

#laptop {
    display: block;
    justify-content: center;
    align-self: center;
    width: 45%;
    margin-bottom: 8%;
}

#enter {
    /* text */
    font-size: 100%;
    font-weight: 600;
    line-height: 60px;
    text-align:center;
    color: black;
    /* block style */
    display:block;
    background-color: #D5E6E0;
    /* margin, padding, border */
    padding: 1px;
    margin-right: 40%;
    margin-left: 40%;
    margin-bottom: 15px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 60px;
    /* hover effect */
}

#enter:hover{
    box-shadow: 5px 3px 3px 6px rgba(0, 0, 0, 0.077);
    text-decoration: overline #FF66C4;
    font-weight: 900;
}

a {
    text-decoration: none;

}