* {
    margin: 0;
}

body {
    background-color: #F2F2F0;
    /* text style */
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    /* box/layout */
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
}

#header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    border-bottom: #ff66c423;
    border-bottom-style: solid;
    border-width: 2px;
}

#logo {
    flex-wrap: nowrap;
    width: 15%;
    height: auto;
    display: flexbox;
    align-self: flex-end;
    margin-left: 6%;
}

#header h1 {
    /* layout */
    margin: 0 5%;
    width: 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:flex-end;
    text-align: center;
    padding-bottom: 3%;
    margin-left: 16%;
    /* text decoration */
    color: #CFF2FD;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75),
                 -2px -2px 4px rgba(255, 255, 255, 0.378);


}

#navigation {
    width: 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    align-self: flex-end;
    padding-bottom: 2%;
} 

button {
    /* text */
    justify-content: space-evenly;
    font-size: 100%;
    font-weight: 500;
    line-height: 20px;
    color: black;
    /* block style */
    display:block;
    background-color: #D5E6E0;
    /* margin, padding, border */
    padding: 15px;
    margin-right: 5%;
    margin-top: 3%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 60px;
}

button a {
    text-decoration: none;
}

button:hover {
    box-shadow: 5px 3px 3px 6px rgba(0, 0, 0, 0.077);
    text-decoration: overline #FF66C4;
    font-weight: 900;
}

#mainContent {
    width: 100%;
    margin: 10%;
    margin-top: 1%;
    text-align: justify;
}

#mainContent p {
    line-height: 1.5;
}

h1 {
    color: black;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin-bottom: 2%;
}

h2 {
    font-family: "DM Sans", sans-serif;
     font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #FF66C4;
}

