html {
    background-color: #DAF1C8;
}

#description {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
}

#block {
    margin-top: 2%;
    width: 100;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#block h2 {
    margin-bottom: 2%;
}

#sectionOne {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#sectionOne h2 {
    text-align: center;

}

#sectionOne img {
    width: 90%;
}

#blockColumn{
    width: 80%;
}

#blockColumn h2 {
    text-align: center;
}

.yt img {
    background-color: aliceblue;
    padding: 0;
    margin: 1%;
    margin-bottom: 3%;
    width: 45%;
    border-style: solid;
    border-width: 10%;
    border-radius: 10%;
    border-color: black;
    box-shadow:  2px 3px 3px 2px rgba(0, 0, 0, 0.169);

}

.yt img:hover {
    width: 47%;
}

#blockColumn a {
    width: 45%;
    margin: 0;
    text-decoration: none;
}

#blockColumn a:visited {
    color: black
}

.yt #align a {
    margin-right: 2%;
    padding-right: 5%;
}

.yt #align {
    margin-right: 2%;
    padding-right: 5%;
}