html {
    background-color: #DAF1C8;
}

#description {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
}

#sectionOne {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#sectionOne h2 {
    margin-top: 10%;
}

#sectionOne img {
    width: 35%;
    padding-left: 50%;
}


.yt {
    width: 10%;
}

#sectionTwo {
    background-color: blue;
    width: 100%;
    margin: 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sectionTwo a {
    text-decoration: none;
}