html {
    background-color: #CFF2FD;
}

#mainContent {
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#smile {
   width: 40%;
   min-width: 400px;
   align-self: flex-start;
   vertical-align: middle;
   margin-top: 3%;
   margin-right: 1%;
}

#text {
   width: 58%;
   padding-right: 0;
   margin-right: 0;
}

h2 {
    padding-bottom: 2%;
    text-align: right;
}